/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --dark-green: #495e57;
  --lemon-yellow: #f4ce14;
  --peach: #ee9972;
  --skin: #fbdabb;
  --white: #edefee;
  --black: #333333;
  --pure-white: #ffffff;
  --pure-black: #000000;
  --gray: #d9d9d9;

  --headline-size: 32px;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 400; /* Regular */
  text-transform: none; /* Sentence case */
  font-size: calc(var(--headline-size) * 0.65);
  line-height: 1.6;
  color: var(--black);
}

button {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  text-transform: none;
  background-color: var(--lemon-yellow);
  color: var(--black);
  padding: 12px 24px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}
